<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">RXJS-Operators</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/rxjs-operators/basic-operators"
              routerLinkActive="active" ariaCurrentWhenActive="page">Basic Operators</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/rxjs-operators/materialize" routerLinkActive="active"
              ariaCurrentWhenActive="page">Materialize</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/rxjs-operators/basic-fork-join"
              routerLinkActive="active" ariaCurrentWhenActive="page">Basic Fork Join</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/rxjs-operators/custom-replay-subject"
              routerLinkActive="active" ariaCurrentWhenActive="page">Custom Replay Subject</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">JS Code Snippets</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/js-code-snippets/quick-sort" routerLinkActive="active"
              ariaCurrentWhenActive="page">Quick Sort</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Dependencies</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/dependencies/lodash" routerLinkActive="active"
              ariaCurrentWhenActive="page">Lodash</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Forms Module</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/custom-forms/basic-reactive-form"
              routerLinkActive="active" ariaCurrentWhenActive="page">Basic Reactive Form</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">...</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Styles</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/styles/flex" routerLinkActive="active"
              ariaCurrentWhenActive="page">Flex</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/styles/grid" routerLinkActive="active"
              ariaCurrentWhenActive="page">Grid</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/styles/scss" routerLinkActive="active"
              ariaCurrentWhenActive="page">SCSS</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Testing</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="basic-count" routerLinkActive="active"
              ariaCurrentWhenActive="page">Basic Count</a>
            <a class="dropdown-item" ngbDropdownItem>Another action</a>
            <a class="dropdown-item" ngbDropdownItem>Something else here</a>
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown" ngbDropdown placement="right">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" ngbDropdownItem>Action</a>
                  <a class="dropdown-item" ngbDropdownItem>Another action</a>
                  <a class="dropdown-item" ngbDropdownItem>Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" ngbDropdownItem>Separated link</a>
                </div>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ngbDropdownItem>Separated link</a>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">RXJS Operators</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" ngbDropdownItem routerLink="/rxjs-operators/materialize" routerLinkActive="active"
              ariaCurrentWhenActive="page">Materialize</a>
            <a class="dropdown-item" ngbDropdownItem>Another action</a>
            <a class="dropdown-item" ngbDropdownItem>Something else here</a>
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown" ngbDropdown placement="right">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <a class="dropdown-item" ngbDropdownItem>Action</a>
                  <a class="dropdown-item" ngbDropdownItem>Another action</a>
                  <a class="dropdown-item" ngbDropdownItem>Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" ngbDropdownItem>Separated link</a>
                </div>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ngbDropdownItem>Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>