// @use 'base';
// @import "./src/assets/base";
@use "sass:math";

// Mixin
@mixin common-font($fontFamily: fantasy) {
    // $ff: ;
    @debug $fontFamily;

    @if $fontFamily ==fantasy {
        $fontFamily: cursive;
    }

    @else if($fontFamily ==cursive) {
        $fontFamily: cursive;
    }

    font-family: $fontFamily;
}

// Extend

%common-color {
    color: white;
}

// variables

$red-color: hsl(0, 100%, 50%);

.scss-variable {
    &>div {
        background-color: $red-color;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        @include common-font();
        @extend %common-color;
    }

    &>div:last-child {
        margin-right: 0;
        @include common-font(fantasy);
    }
}

h4 {
    @extend %common-color;
    background-color: black;
    clear: both;
    width: math.div(600px, 960px) * 100%;
    ;
    // width: math.random($limit: 10) - 10;
}

@media only screen and (max-width: 1000px) {
    $red-color: rgb(255, 102, 0);

}